/* Convencion para organizar las propiedades CSS: 
    1.Posicionamiento
    2.Modelo Caja
    3.Tipografias
    4.Visuales
    5.Otros                                     */

:root {
    --primary-color-hard:#b9b3a9;
    --primary-color: #D4CDC3;
    --primary-color-soft: #F8F4E3;
    --secondary-color: #3B4160;
    --secondary-color-soft: #585f85;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

/*********************** Estilos HEADER ***************************************
********************************************************************************
*********************************************************************************/

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-width: 320px;
    height: 33rem;
    text-align: center;

    background: linear-gradient(180deg, #3B4160 20.69%, #F8F4E3 100%);
}

header img {
    position: absolute;
    top: -40px;
    width: 200px;
    height: auto;
    left: calc(50% - 80px);
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 21.8rem;
    margin-top: 120px;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; 

    color: var(--primary-color-soft);
}

.header__title-container h1 span {
    display: inline-block;
    width: 20px;
    height: 2rem;
    background-image: url(./assets/icons/icons8-dog-paw-30.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: -2px;
}

.header__title-container p {
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;

    color: var(--primary-color-soft);
}

.header__title-container p b {
    font-weight: bold;
    font-size: 1.5rem;
}

.header__title-container .header__button {
    position: absolute;

    top: 27rem;
    left: calc(50% - 120px);
    display: block;
    margin-top: 35px;
    padding: 8px;
    width: 229px;
    height: 4.8rem;
    
    background-color: var(--primary-color-hard);
    box-shadow: 0px 4px 8px var(--secondary-color);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
}

.header__button span {
    display: inline-block;

    width: 13px;
    height: 8px;
    margin-left: 10px;

    background-image: url('./assets/icons/down-arrow.svg');
}


/*********************** Estilos secciones ***************************************
********************************************************************************
*********************************************************************************/

main {
    width: 100%;
    min-width: 320px;
    height: auto;

    background-color: var(--primary-color-soft);
}

/* Estilos primera seccion */

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 50px;

    background-image: url(./assets/img/crypto-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container__title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--secondary-color);
}

.main-exchange-container__title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--secondary-color-soft);
}

/*********************** Estilos TABLA ***************************************
********************************************************************************
*********************************************************************************/


.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 36rem;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table__title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;

}

.main-currency-table .money-table {
    color: #32738f;
}

.currency-table__container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 25rem;
    margin: 0 auto;
}

.currency-table__container table {
    width: 100%;
    height: 100%;
}

.currency-table__container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.9rem;
    color:  var(--primary-color);
    background-color: var(--secondary-color);
}

.currency-table__container .table--top-left {
    border-radius: 15px 0 0 0;
}
.currency-table__container .table--top-right {
    border-radius: 0px 15px 0 0;
}
.currency-table__container .table--bottom-left {
    border-radius: 0px 0px 0 15px;
}
.currency-table__container .table--bottom-right {
    border-radius: 0px 0px 15px 0;
}

.currency-table__container .table--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    
    color: var(--primary-color-soft);
}

.currency-table__date {
    width: 190px;
    height: 3rem;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 8px;
}

.money-date {
    background-color: #d1d1c8;
}

.currency-table__date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--secondary-color);
}

/*********************** Estilos SECCION TARJETAS********************************
********************************************************************************
*********************************************************************************/


.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
   
    background-color: var(--secondary-color-soft);

}

.product-detail__batata-logo {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 1rem;
    left: calc(50% - 30px);

    background-image: url('./assets/icons/icons8-dog-64.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.product-detail__title {
    width: 80%;
    min-width: 288px;
    max-width: 860px;
    height: auto;
    margin: 0 auto;
    margin-top: 44px;
    text-align: center;
}

.product-detail__title h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--primary-color-soft);
}

.product-detail__title p  {
    margin-bottom: 24px;
    font-size: 1.8rem;
    line-height: 1.4rem;
    font-weight: 300;
    color: var(--primary-color-hard);
}

.product-cards__container {
    height: auto;
    
}

.product-detail__card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.16);
    background-color: var(--secondary-color);
}

.product-detail__card .icon-card {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.product-detail__card .clock {
    background-image: url('./assets/icons/clock.svg');
}
.product-detail__card .eye {
    background-image: url('./assets/icons/eye.svg');
}
.product-detail__card .money {
    background-image: url('./assets/icons/dollar-sign.svg');
}
.product-detail__card .check {
    background-image: url('./assets/icons/check-circle.svg');
}

.product__card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--primary-color-soft);
}

.product__card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--primary-color-hard);
}

/*********************** Estilos SECCION IMAGEN********************************
********************************************************************************
*********************************************************************************/

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 45vh;
    background-image: url(./assets/img/Beautiful-Dog-Desktop-Pictures.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
    padding-top: 200px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    color: var(--primary-color-soft);
}

/*********************** Estilos SECCION MASCOTAS*******************************
********************************************************************************
*********************************************************************************/

.main-plans-container {
    width: 90%;
    min-width: 320px;
    padding-top: 12px;
    /* padding-bottom: 70px; */
    margin: 20px auto 0 auto;
    text-align: center;
    border-radius: 12px;
    background-color: var(--primary-color-hard);
}

.plans__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}

.plans__title h2 {
    margin-top: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--secondary-color);
}

.plans__title .plans__title__description {
    padding-top: 30px;
    /* margin-bottom: 40px; */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--secondary-color-soft);
}

/* Seccion tarjetas */

.plans-container__slider {
    display: flex;
    height: 31.6rem;
    margin-left: 30px;
    margin-right: 30px;
    overflow-x: scroll; /* Nos permite controlar el desbordamiento horizontal brindando la capacidad de hacer scroll para ver los elementos */
    overscroll-behavior-x: contain;     
    /* Se utiliza para establecer el comportamiento del scroll cuando existen varias areas de desplazamiento */
    scroll-snap-type: x mandatory;  /* Se usa en el contenedor del contenido scrolleable y permite indicar si al scrollear se debe posicionar en el elemento proximo de forma absoluta o parcial*/

}

.plans-container__card {
    position: relative;
    scroll-snap-align: x center; /* Nos permite indicar como se debera alinear el elemento en el viewport cuando se hace un scroll, tambien puede recibir parametros para x o para y*/
    /* width: 60%; */
    min-width: 230px;
    max-width: 300px;
    height: 28rem;
    margin: 30px 10px 0;

    background-color: var(--secondary-color-soft);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}

.plans-container__card .recommended {
    position: absolute;
    width: 120px;
    height: 3.1rem;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--primary-color-soft);
    border-radius: 8px;
    color: var(--color-light);

}

.plan-body-info-container img{
    width: 190px;
    height: 18rem;
    margin-top: 16px;
    object-fit: cover;
    /* object-position: -30px; */
    border-radius: 8px;
}

.sol-dog {
    object-position: -100px;
}

.plan-card__ca {
    width: 200px;
    height: 4.8rem;
    margin-top: 12px;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color-soft);
    border-radius: 12px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--primary-color-soft);
}

.plan-card__ca span {
    display: inline-block;
    width: 20px;
    height: 2rem;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    vertical-align: text-bottom;
}

.dogs-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6rem;
    margin-top: 40px;
}

.dogs-banner__img {
    width: 60px;
    height: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dog-one {
    background-image: url("./assets/icons/dog1.png");
}

.dog-two {
    background-image: url("./assets/icons/dog2.png");
}
.dog-three {
    background-image: url("./assets/icons/dog3.png");
}
.dog-four {
    background-image: url("./assets/icons/dog4.png");
}
.dog-five {
    background-image: url("./assets/icons/dog5.png");
}
.dog-six {
    background-image: url("./assets/icons/dog6.png");
}


/*********************** Estilos SECCION FOOTER*******************************
********************************************************************************
*********************************************************************************/

footer {
    display: flex;
    width: 100%;
    height: 15rem;
    background: linear-gradient(0.8deg, #3B4160 20.69%, #F8F4E3 100%);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 10px 0;;
}

.left a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}


footer .right img {
    /* position: absolute; */
    /* left: calc(50%); */
    margin-top: 40px;
    width: 200px;
    height: 100px;
    object-fit: cover;
}